/* ===== Normalize ===== */
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css");

/* ===== Base styles ===== */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #2e2f42;
  background-color: #ffffff;
  margin: 0;
}

/* ===== Typography reset ===== */
h1,
h2,
h3,
p {
  margin: 0;
}

/* ===== Lists reset ===== */
ul {
  list-style: none;
  margin: 0;
}

/* ===== Links ===== */
a {
  text-decoration: none;
  color: inherit;
}

/* ===== Buttons ===== */
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: #4d5ae5;
  color: #ffffff;
  transition: background-color 250ms ease;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

/* ===== Header contacts hover ===== */
address a:hover,
address a:focus {
  color: #404bbf;
}

/* ===== Visually hidden ===== */
.visually-hidden {
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

ul {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo:focus {
  color: #404bbf;
}

.logo-accent {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
}

.nav-link {
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  color: #404bbf;
}

.hero-section {
  background: #2e2f42;
}

.hero-name {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;

  line-height: 107%;
  letter-spacing: 0.02em;
  color: #fff;
}
